<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```

```html
<div class="container">
    <div class="card">
        <img [src]="imagem" alt="{{ titulo }}" class="card-image" />
        <p class="title">{{titulo}}</p>
        <div class="card-hidden">
            <p class="title-in">{{titulo}}</p>
            <p>{{descricao}}</p>
            <a class="button">Ver mais</a>
        </div>

    </div>
    <div class="card-border"></div>
</div>
```