.footer {
    background-color: #333;
    padding: 30px;
    color: white;
    margin-top: 40px; /* Ajusta o espaçamento entre o conteúdo e o footer */ 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-info, .footer-links, .footer-social {
    flex: 1;
  }
  
  /*.footer-social {
    display: flex;
    justify-content: space-around;
  }*/

  .footer-social  {
    display: flex;
    flex-direction: column; /* Organiza o texto e os ícones em uma coluna */
    align-items: flex-end; /* Alinha o conteúdo à direita */
    text-align: center; /* Centraliza o texto individualmente */
    padding-right: 20px; /* Adiciona espaçamento à direita */
  }
  
  .footer-social h4 {
    margin: 0; /* Remove margens extras */
    padding: 0; /* Remove qualquer padding que possa interferir */
    text-align: left; /* Alinha o texto à esquerda */
    display: block; /* Garante que o h4 seja tratado como um bloco */
}


  .footer-funcionamento a {
    display: block; /* Garante que cada <a> ocupe uma linha inteira */
  }
  
  
  .card {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .socialContainer {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .socialContainer:hover {
    transform: scale(1.2);
  }
  
  .socialSvg {
    width: 30px;
    height: 30px;
    fill: white;
  }
  
  .instagramSvg:hover {
    fill: #e4405f;
  }
  
  .twitterSvg:hover {
    fill: #1da1f2;
  }
  
  .linkdinSvg:hover {
    fill: #0077b5;
  }
  
  .whatsappSvg:hover {
    fill: #25d366;
  }
  
  .facebookSvg:hover {
    fill: #4267B2; /* Azul do Facebook */
}

  