<div class="topnav">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
  <!-- <a routerLink="/emprestimos" routerLinkActive="active" ariaCurrentWhenActive="page">Emprestimos</a>
  <a routerLink="/pessoas" routerLinkActive="active" ariaCurrentWhenActive="page">Pessoas</a>
  <a routerLink="/livros" routerLinkActive="active" ariaCurrentWhenActive="page">Livros</a>
  <a routerLink="/autores" routerLinkActive="active" ariaCurrentWhenActive="page">Autores</a>
  <a routerLink="/criarconta" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>-->
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
</div>
<router-outlet></router-outlet>