<div class="popup">
  <input id="menuToggle" type="checkbox">
  <label for="menuToggle" class="burger">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav class="popup-window">
    <legend>Opções</legend>
    <ul>
      <li>
        <button>
          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path>
          </svg>
          <span class="name" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Entre</span>
        </button>
      </li>
      <li>
        <button>
          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2v20M2 12h20"></path>
          </svg>
          <span class="name" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastre-se</span>
        </button>
      </li>
    </ul>
  </nav>
</div>